@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
/* nav bar*/
.span-logo {
    color: #040468;
    font-weight: 500;
}
.span-loGo {
    color: #bd0000;
    font-weight: 700;
}

/* hero section */

.hero-img {
    transition: all 300ms ease-in-out;
    width: 40%;
    height: 50%;
}

.hero-img:hover {
    transition: all 300ms ease-in-out;
    transform: scale(1.4,1.4);
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-item{
    padding-top: 20px;
}
.flex-items {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-boot .we-do {
    background-color: red;
    font-size: 20px;
    font-weight: 600;
    width: 10rem;
    text-align: center;
    padding: 3px 0;
    margin: 0 auto;
    bottom: -20px;
    color: #fff;
    position: relative;
    border-radius: 10px;

}

.hero-boot::after {
    display: block;
    content: " ";
    height: 5px;
    overflow: hidden;
    width: 25%;
    background-color: red;
    margin: 0 auto;
    border-radius: 7px;
    margin-bottom: 60px;
}

/* main section */

.middle-section {
    display: flex;
    justify-content: space-around;
}

.middle-section .right-middle-section {
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.middle-section .right-middle-section .carousel-inner,
.middle-section .right-middle-section .carousel-inner .carousel-item,
.middle-section .right-middle-section .carousel-inner .carousel-item img
{
    /* margin-top: -5px; */
    width: 565px;
    height: 300px;
}

 .who-we-worked-with {
    background-color: red;
    font-size: 20px;
    font-weight: 600;
    width: 25rem;
    text-align: center;
    padding: 3px 0;
    margin: 0 auto;
    bottom: -100px;
    color: #fff;
    position: relative;
    border-radius: 10px;

} 

.companies-worked-with::before {
    display: block;
    content: " ";
    height: 5px;
    overflow: hidden;
    width: 50%;
    background-color: red;
    margin: 80px auto;
    border-radius: 7px;
    /* margin-top: 60px; */
}

.companies-worked-with {
    margin-bottom: 70px;
}

.companies-worked-with .row .col img:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.3s ease;
}


footer::before {
    margin-top: 20px;
    display: block;
    content: " ";
    height: 10px;
    overflow: hidden;
    background-color: red;
}


/* about us page */

.head-about small, .head-service small, .head-order small { 
    position: relative;
    bottom: 15px;

}

.img-about {
    margin-bottom: 100px;
}

.img-fluid, .about-us-info, .service, .connect {
    width: 90%;
}

.about-us-info {
    background-color: #def2f8;
    border: 0;
    border-radius: 10px;
}

.card-img-top {
    /* width: 565px; */
    height: 300px;
}


/* order page*/

.head-order small {
    width: 50%;
    display: block;
    margin: 0 auto;
}

.order {
    width: 35%;
}

/* contact us page*/

.connect {
    border-radius: 10px;
}

/* media querries */


/* X-Small devices (portrait phones, less than 576px) */
@media (min-width: 320px) and (max-width: 564.98px) { 
    .hero-boot .flex-container .hero-text {
        display: block;
        width: 100%;
        margin: 0 auto;
    }
    .hero-boot .flex-container .hero-text p {
        display: block;
        width: 100%;
        margin: 0 auto;
    }
    .hero-boot .flex-container .hero-text .display-3{
        font-size: 25px;
    }


    .hero-boot .hero-img {
        display: none;
    }

    .hero-boot .we-do {
        background-color: red;
        font-size: 20px;
        font-weight: 600;
        width: 10rem;
        text-align: center;
        padding: 3px 0;
        margin: 0 auto;
        bottom: -20px;
        color: #fff;
        position: relative;
        border-radius: 10px;
    
    }
    
    .hero-boot::after {
        display: block;
        content: " ";
        height: 5px;
        overflow: hidden;
        width: 70%;
        background-color: red;
        margin: 0 auto;
        border-radius: 7px;
        margin-bottom: 60px;
    }


    /* main section*/

    .middle-section {
        display: inline;
        width: 50%;
        margin: 0 auto;
        flex-direction: column;
    }

    .middle-section  .card {
        display: block;
        margin: 0 auto;
        width: 50%;
        margin-bottom: 10px;
    }

    .middle-section .right-middle-section {
        display: inline;
        width: 70%;
        margin: 0 auto;
    }

    .img-fluid {
        width: 100%;
        margin: 0 auto;
    } 

    .middle-section .right-middle-section #carouselExampleDark, 
    .middle-section  .id-card, 
    .middle-section .right-middle-section .carousel-inner .carousel-item,
    .middle-section .right-middle-section .carousel-inner .carousel-item img
    {
        overflow: hidden;
        width: 287px;
        height: auto;
    }

    .who-we-worked-with {
        background-color: red;
        font-size: 16px;
        font-weight: 600;
        width: 18rem;
        text-align: center;
        padding: 3px 0;
        margin: 0 auto;
        bottom: -97px;
        color: #fff;
        position: relative;
        border-radius: 10px;
    
    } 
    
    .companies-worked-with::before {
        display: block;
        content: " ";
        height: 5px;
        overflow: hidden;
        width: 85%;
        background-color: red;
        margin: 80px auto;
        border-radius: 7px;
    }

    .companies-worked-with .row  {
        display: block;
        width: 90%;
        margin: 10px auto;
    }
    .companies-worked-with .row .col{
        display: inline;
        width: 50%;
        margin: 0 auto;
    }
    .companies-worked-with .row .col .company-logo-size{
        text-align: center;
    }

    .flex_container {
        justify-content: space-around;
        flex-direction: column;
    }

    .flex_container .flex-item {
        display: block;
        /* width: 80%; */
        margin: 0 auto;
        margin-top: 0;
        margin-bottom: 20px;
    }


    /* about us page*/

    .head-about .img-about {
        display: block;
        width: 90%;
        margin: 0 auto;
    }
    .about-us-info {
        background-color: #e6f1f5;
        border-radius: 15px;
        box-shadow: 2px 2px 1px rgb(219, 209, 209);
    }

    .about-us-info .card-body{
        display: block;
        margin: -30px;
        text-align: justify;
        padding-bottom: 100px;
    }

    .about-us-info .card-body .card-title {
        font-size: 30px;
        font-weight: 500;
    }

    .about-us-info .card-body .card-text {
        padding-bottom: 50px;
        margin-bottom: 50px;
    }

    .about-us-info .card-body a.btn {
        position: relative;
        display: block;
        margin-bottom: 10px;
        width: 100%;  
        bottom: 37px; 

    }
   
}

 /* X-Small devices (portrait phones, less than 576px) */
 @media  (min-width: 566px) and (max-width: 575.98px) { 
    /* .hero-boot .flex-container {
        flex-direction: column; 
        margin: 0 auto;
        width: 70%;
        margin-top: -40px;    
    } */
    .hero-boot .hero-img {
        display: none;
    }

    .hero-boot .we-do {
        background-color: red;
        font-size: 20px;
        font-weight: 600;
        width: 10rem;
        text-align: center;
        padding: 3px 0;
        margin: 0 auto;
        bottom: -20px;
        color: #fff;
        position: relative;
        border-radius: 10px;
    
    }
    
    .hero-boot::after {
        display: block;
        content: " ";
        height: 5px;
        overflow: hidden;
        width: 50%;
        background-color: red;
        margin: 0 auto;
        border-radius: 7px;
        margin-bottom: 60px;
    }


   /*  main section */

    .middle-section {
        display: inline;
        width: 50%; 
        margin: 0 auto;
        flex-direction: column;
    }

    .middle-section .card {
        display: block;
        margin: 0 auto;
        width: 30rem!important;
        margin-bottom: 10px;
    }

    .middle-section .right-middle-section {
        display: inline;
        width: 30rem!important;
        margin: 0 auto;
    }

    .middle-section  .id-card  {
        width: 100%;
        margin: 0 auto;
    }

    .img-fluid {
        width: 100%;
        margin: 0 auto;
    }

    .middle-section .right-middle-section #carouselExampleDark, 
    .middle-section .right-middle-section .carousel-inner .carousel-item,
    .middle-section .right-middle-section .carousel-inner .carousel-item img
    {
        margin-top: -5px; 
        overflow: hidden;
        width: 30rem!important;
        height: 350px;
    }

    .who-we-worked-with {
        background-color: red;
        font-size: 15px;
        font-weight: 600;
        width: 17rem;
        text-align: center;
        padding: 3px 0;
        margin: 0 auto;
        bottom: -95px;
        color: #fff;
        position: relative;
        border-radius: 10px;
    
    } 
    
    .companies-worked-with::before {
        display: block;
        content: " ";
        height: 5px;
        overflow: hidden;
        width: 70%;
        background-color: red;
        margin: 80px auto;
        border-radius: 7px;
    }

    .companies-worked-with .row  {
       display: flex;
       padding: 0 60px;
       margin-left: -40px;
       overflow: hidden;
    }
    .companies-worked-with .row .col{
        margin: 5px 0;
        margin-right: -60px;
    }

    .flex_container {
        justify-content: space-evenly;
        flex-direction: column;
    }

    .flex_container .flex-item {
        margin-top: 0;
        margin-bottom: 20px;
    }


    /* about us */
    .head-about .img-about {
        display: block;
        width: 90%;
        margin: 0 auto;
    }

    .about-us-info {
        background-color: #e6f1f5;
        border-radius: 15px;
        box-shadow: 2px 2px 1px rgb(219, 209, 209);
    }

    .about-us-info .card-body{
        display: block;
        margin: -30px;
        text-align: justify;
        padding-bottom: 50px;
    }

    .about-us-info .card-body .card-title {
        font-size: 30px;
        font-weight: 500;
    }

    .about-us-info .card-body .card-text {
        padding-bottom: 20px;
    }


 }
  

 /* Small devices (landscape phones, less than 768px) */
@media (min-width: 577px) and (max-width: 767px) { 

    .hero-img {
        transition: all 300ms ease-in-out;
        width: 60%;
        height: 50%;
    }

    .hero-boot .hero-text {
        margin-left: -70px;
    }

    .hero-boot .we-do {
        background-color: red;
        font-size: 20px;
        font-weight: 600;
        width: 10rem;
        text-align: center;
        padding: 3px 0;
        margin: 0 auto;
        bottom: -20px;
        color: #fff;
        position: relative;
        border-radius: 10px;
    
    }
    
    .hero-boot::after {
        display: block;
        content: " ";
        height: 5px;
        overflow: hidden;
        width: 60%;
        background-color: red;
        margin: 0 auto;
        border-radius: 7px;
        margin-bottom: 60px;
    }

    .middle-section {
        display: inline;
        width: 90%; 
        margin: 0 auto;
        flex-direction: column;
    }

    .middle-section .card_top {
        /* display: block;  */
        margin: 0 auto;
        width: 30rem!important;
        margin-bottom: 10px;
    }

    .middle-section .right-middle-section {
        display: block;
        width: 30rem!important;
        margin: 0 auto;
    }

    .middle-section  .id-card  {
        width: 100%;
        margin: 0 auto;
    }

    .img-fluid {
        width: 100%;
        margin: 0 auto;
    }

    .middle-section .right-middle-section #carouselExampleDark, 
    .middle-section .right-middle-section .carousel-inner .carousel-item,
    .middle-section .right-middle-section .carousel-inner .carousel-item img
    {
        margin-top: -5px; 
        overflow: hidden;
        width: 30rem!important;
        height: 350px;
    }
  
    .companies-worked-with .row  {
        display: flex;
        padding: 0 60px;
        margin-left: -40px;
        overflow: hidden;
     }
     .companies-worked-with .row .col{
         margin: 5px 0;
         margin-right: -80px;
     }
 
     .flex_container {
         justify-content: space-evenly;
         flex-direction: column;
     }
 
     .flex_container .flex-item {
         margin-top: 0;
         margin-bottom: 20px;
     }

     /* about us page*/
     .head-about .img-about {
        display: block;
        width: 90%;
        margin: 0 auto;
    }

    .about-us-info {
        background-color: #e6f1f5;
        /* border-radius: 15px;
        box-shadow: 2px 2px 1px rgb(219, 209, 209); */
    }

    .about-us-info .card-body{
        display: block;
        margin: -30px;
        text-align: justify;
        padding-bottom: 50px;
    }

    .about-us-info .card-body .card-title {
        font-size: 30px;
        font-weight: 500;
    }

    .about-us-info .card-body .card-text {
        padding-bottom: 20px;
    }

 
 } 

 /*Medium devices (tablets, less than 992px)*/
@media (min-width: 768px) and (max-width: 991.98px) { 

    .hero-img {
        transition: all 300ms ease-in-out;
        width: 60%;
        height: 50%;
    }

    .flex-container p {
        margin-left: -100px;
    }

    /*  main section */

    .hero-boot .we-do {
        background-color: red;
        font-size: 25px;
        font-weight: 600;
        width: 20rem;
        text-align: center;
        padding: 3px 0;
        margin: 0 auto;
        bottom: -23px;
        color: #fff;
        position: relative;
        border-radius: 10px;
    
    }
    
    .hero-boot::after {
        display: block;
        content: " ";
        height: 5px;
        overflow: hidden;
        width: 70%;
        background-color: red;
        margin: 0 auto;
        border-radius: 7px;
        margin-bottom: 60px;
    }

    .middle-section .right-middle-section #carouselExampleDark, 
    .middle-section .right-middle-section .carousel-inner .carousel-item,
    .middle-section .right-middle-section .carousel-inner .carousel-item img
    {
        margin-top: -5px; 
        overflow: hidden;
        width: 360px;
        height: 300px;
    }

    .who-we-worked-with {
        background-color: red;
        font-size: 20px;
        font-weight: 600;
        width: 24rem;
        text-align: center;
        padding: 3px 0;
        margin: 0 auto;
        bottom: -100px;
        color: #fff;
        position: relative;
        border-radius: 10px;
    
    } 
    
    .companies-worked-with::before {
        display: block;
        content: " ";
        height: 5px;
        overflow: hidden;
        width: 70%;
        background-color: red;
        margin: 80px auto;
        border-radius: 7px;
    }

    /* about us page*/
    .about-us-info .card-body{
        display: block;
        margin: -30px;
        text-align: justify;
        padding-bottom: 50px;
    }

    .about-us-info .card-body .card-title {
        font-size: 30px;
        font-weight: 500;
    }

    .about-us-info .card-body .card-text {
        padding-bottom: 20px;
    }




 }

 /* Large devices (desktops, less than 1200px) */
@media (min-width: 993px) and (max-width: 1199.98px) { 
    .middle-section .right-middle-section #carouselExampleDark, 
    .middle-section  .id-card, 
    .middle-section .right-middle-section .carousel-inner .carousel-item,
    .middle-section .right-middle-section .carousel-inner .carousel-item img
    {
        overflow: hidden;
        width: 500px;
        height: auto;
    }

    .companies-worked-with .row  {
        display: flex;
        padding: 0 60px;
        margin-left: -80px;
        overflow: hidden;
     }
     .companies-worked-with .row .col{
         margin: 5px 0;
         /* margin-right: -0px; */
     }

     /* about us page*/

     .about-us-info .card-body{
        display: block;
        margin: -30px;
        text-align: justify;
        padding-bottom: 50px;
    }

    .about-us-info .card-body .card-title {
        font-size: 30px;
        font-weight: 500;
    }

    .about-us-info .card-body .card-text {
        padding-bottom: 20px;
    }
 

 }

 /* X-Large devices (large desktops, less than 1400px) */
@media (min-width: 1201px) and (max-width: 1399.98px) {
    .hero-img {
        transition: all 300ms ease-in-out;
        width: 40%;
        height: 50%;
    }
    
    .hero-img:hover {
        transition: all 300ms ease-in-out;
        transform: scale(1.4,1.4);
    }
    
    .flex-container {
        display: flex;
        justify-content: center;
        align-items: center;
    } 

    /* about us page */
    .about-us-info .card-body{
        display: block;
        margin: -20px;
        text-align: justify;
        padding-bottom: 50px;
    }

    .about-us-info .card-body .card-title {
        font-size: 30px;
        font-weight: 500;
    }

    .about-us-info .card-body .card-text {
        padding-bottom: 20px;
    }

 }


  /* X-Large devices (large TV, more than 1450px) */
 @media (min-width: 1401px) {
        .middle-section .right-middle-section #carouselExampleDark, 
        /* .middle-section  .id-card,  */
        .middle-section .right-middle-section .carousel-inner .carousel-item,
        .middle-section .right-middle-section .carousel-inner .carousel-item img
        {
            overflow: hidden;
            width: 100%;
            height: 350px;
        }

        /* about us page */
    .about-us-info .card-body{
        display: block;
        /* margin: -20px; */
        text-align: justify;
        padding-bottom: 50px;
    }

    .about-us-info .card-body .card-title {
        font-size: 30px;
        font-weight: 500;
    }

    .about-us-info .card-body .card-text {
        padding-bottom: 20px;
    }

 }