@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
/* nav bar*/
.span-logo {
    color: #040468;
    font-weight: 500;
}
.span-loGo {
    color: #bd0000;
    font-weight: 700;
}

/* hero section */

.hero-img {
    transition: all 300ms ease-in-out;
    width: 40%;
    height: 50%;
}

.hero-img:hover {
    transition: all 300ms ease-in-out;
    transform: scale(1.4,1.4);
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-item{
    padding-top: 20px;
}
.flex-items {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-boot .we-do {
    background-color: red;
    font-size: 20px;
    font-weight: 600;
    width: 10rem;
    text-align: center;
    padding: 3px 0;
    margin: 0 auto;
    bottom: -20px;
    color: #fff;
    position: relative;
    border-radius: 10px;

}

.hero-boot::after {
    display: block;
    content: " ";
    height: 5px;
    overflow: hidden;
    width: 25%;
    background-color: red;
    margin: 0 auto;
    border-radius: 7px;
    margin-bottom: 60px;
}

/* main section */

.middle-section {
    display: flex;
    justify-content: space-around;
}

.middle-section .right-middle-section {
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.middle-section .right-middle-section .carousel-inner,
.middle-section .right-middle-section .carousel-inner .carousel-item,
.middle-section .right-middle-section .carousel-inner .carousel-item img
{
    /* margin-top: -5px; */
    width: 565px;
    height: 300px;
}

 .who-we-worked-with {
    background-color: red;
    font-size: 20px;
    font-weight: 600;
    width: 25rem;
    text-align: center;
    padding: 3px 0;
    margin: 0 auto;
    bottom: -100px;
    color: #fff;
    position: relative;
    border-radius: 10px;

} 

.companies-worked-with::before {
    display: block;
    content: " ";
    height: 5px;
    overflow: hidden;
    width: 50%;
    background-color: red;
    margin: 80px auto;
    border-radius: 7px;
    /* margin-top: 60px; */
}

.companies-worked-with {
    margin-bottom: 70px;
}

.companies-worked-with .row .col img:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.3s ease;
}


footer::before {
    margin-top: 20px;
    display: block;
    content: " ";
    height: 10px;
    overflow: hidden;
    background-color: red;
}


/* about us page */

.head-about small, .head-service small, .head-order small { 
    position: relative;
    bottom: 15px;

}

.img-about {
    margin-bottom: 100px;
}

.img-fluid, .about-us-info, .service {
    width: 90%;
}

.about-us-info {
    background-color: #def2f8;
    border: 0;
    border-radius: 10px;
}

.card-img-top {
    /* width: 565px; */
    height: 300px;
}


.head-order small {
    width: 50%;
    display: block;
    margin: 0 auto;
}

.order {
    width: 35%;
}
